/* VoiceWave Component Styles */

.voice-wave {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10rem;
  height: 10rem;
  margin: 0 auto var(--spacing-3xl);
}

.voice-wave span {
  position: absolute;
  border-radius: var(--radius-pill);
  animation: slowPulse 8s ease-in-out infinite;
}

.voice-wave span:nth-child(1) {
  width: 8rem;
  height: 8rem;
  background: var(--color-blue-100);
  opacity: 0.2;
  animation-delay: 0s;
}

.voice-wave span:nth-child(2) {
  width: 6rem;
  height: 6rem;
  background: var(--color-blue-200);
  opacity: 0.3;
  animation-delay: 2s;
}

.voice-wave span:nth-child(3) {
  width: 4rem;
  height: 4rem;
  background: var(--color-blue-300);
  opacity: 0.4;
  animation-delay: 4s;
}

.voice-wave span:nth-child(4) {
  position: relative;
  width: 3rem;
  height: 3rem;
  background: var(--color-blue-400);
  animation-delay: 1s;
}
